:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --common-black: #2f2f37;
  --bg-top-banner-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --card-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  --subscribe-input-border: 1px solid var(--white);
  --subscribe-input-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  --modal-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
  --default-transision: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: var(--white);
  margin: 0 auto;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2,
h3 {
  color: var(--navy-blue);
}

h2 {
  font-size: 36px;
  line-height: 1.11;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
}

h4 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

p {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.section-common {
  padding: 96px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--cornflower);
  padding: 16px 16px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-dark {
  color: var(--navy-blue);
}

.logo-light {
  color: var(--cloud);
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  color: var(--navy-blue);
}

.main-nav {
  display: flex;
  gap: 40px;
}

.nav-item:focus,
.nav-item:hover {
  color: var(--ocean);
  transition: color var(--default-transision);
}

.main-nav a {
  color: var(--navy-blue);
}

.main-nav.address {
  flex-direction: row;
}

.underlined {
  padding: 24px 0;
  position: relative;
}

.underlined::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5%;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.address {
  font-style: normal;
  color: var(--slate);
}

.hamburger-menu {
  display: none;
  position: relative;
  background: none;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.hamburger-menu-icon {
  width: 24px;
  height: 24px;
  fill: var(--common-black);
}

.mobile-nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 24px 24px 0 16px;
  background-color: var(--white);
  transition: var(--default-transision);
  transform: translate(100%);
  z-index: 999;
  opacity: 0;
}

.mobile-nav-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-nav-column .right {
  align-self: flex-end;
}

.mobile-nav.is-open {
  opacity: 1;
  transform: translate(0);
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 168px;
}

.nav-item.ocean {
  color: var(--ocean);
}

.mobile-nav-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 48px;
}

.social-media-list.mobile-nav-social-media-list {
  width: 280px;
  gap: 40px;
  justify-content: space-between;
}

.social-media-list-item-link.mobile-nav-social-media-list-item-link {
  margin-top: 0;
}

.top-baner-section {
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--navy-blue);
  background-image: var(--bg-top-banner-gradient),
    url(../images/hero_image_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.top-baner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  margin-bottom: 48px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  border-radius: 4px;
  border-width: 0;
  gap: 10px;
}

.button:hover {
  background-color: var(--ocean);
  transition: background-color var(--default-transision);
}

.hidden {
  display: none;
}

.our-strengths-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.our-strengths-item {
  width: 288px;
  text-align: center;
}

.our-strengths-item-icon-box {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  margin-bottom: 8px;
}

.our-strengths-item-icon-svg {
  width: 64px;
  height: 64px;
  fill: var(--navy-blue);
}

.our-strengths-item h3 {
  margin-bottom: 8px;
}

.our-strengths-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}

.section-team {
  background-color: var(--cloud);
}

.section-team-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.section-title {
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1128px;
  gap: 24px;
}

.team-card .list {
  width: 264px;
  min-width: 264px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--card-shadow);
  text-align: center;
  line-height: 0.5;
}

.team-card img {
  width: 100%;
  object-fit: cover;
}

.team-member-name-job {
  padding: 32px 0;
}

.team-card li h3 {
  margin-bottom: 8px;
}

.team-card li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  margin-bottom: 8px;
}

.team-card .social-list {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  gap: 24px;
}

.team-card-social-item {
  width: 40px;
}

.team-card-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
}

.team-card-social-link:hover {
  background-color: var(--ocean);
  transition: background-color var(--default-transision);
}

.team-card-social-icon {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 288px;
}
.portfolio-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 288px;
}

.portfolio-list-item-photo-description {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item-photo-description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transform: translateY(100%);
}

.portfolio-list-item-photo-description-overlay p {
  padding: 40px 32px;
  font-weight: 400;
  color: var(--cloud);
}

.portfolio-list-item:hover .portfolio-list-item-photo-description-overlay {
  transform: translateY(0);
  box-shadow: var(--card-shadow);
  transition: transform var(--default-transision), box-shadow var(--default-transision);
}

.portfolio-list-item img {
  object-fit: cover;
}

.portfolio-list-item:hover {
  box-shadow: var(--card-shadow);
  transition: box-shadow var(--default-transision);
}

.portfolio-list-item-description {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-list-item-description h3 {
  margin-bottom: 8px;
}

.footer {
  background-color: var(--navy-blue);
  margin: 0;
  padding: 0;
  width: 100vw;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding: 96px 16px 96px 16px;
}

.footer-content .container {
  margin: 0;
  padding: 0;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-text .logo {
  margin: 0;
  padding: 0;
}

.footer-text {
  font-weight: 400;
  color: var(--cloud);
  margin-top: 16px;
}

.footer-header {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.social-media-list {
  display: flex;
  gap: 16px;
}

.social-media-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  margin-top: 16px;
}

.social-media-list-item-icon {
  width: 24px;
  height: 24px;
  fill: var(--cloud);
}

.social-media-list-item-link:hover {
  background-color: var(--green);
  transition: background-color var(--default-transision);
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-subscribe-form-label {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.footer-subscribe-form-input-button {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: var(--subscribe-input-border);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white);
  box-shadow: var(--subscribe-input-shadow) transparent;
}

.footer-subscribe-input::placeholder {
  color: var(--white);
  font-size: 12px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0.04em;

}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  gap: 16px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.footer-subscribe-button:hover {
  background-color: var(--ocean);
  transition: background-color var(--default-transision);
}
.footer-subscribe-button-icon {
  width: 24px;
  height: 24px;
  fill: var(--white);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding: 24px;
  background-color: var(--dairy);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.close-button {
  right: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cornflower);
  cursor: pointer;
}

.close-button-icon {
  width: 8px;
  height: 8px;
  fill: var(--navy-blue);
}

.modal-close-button:hover,
.modal-close-button:focus { 
  background-color: var(--ocean);
  border-color: var(--ocean);
  transition: background-color var(--default-transision), border-color var(--default-transision);
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon {
  fill: white;
  transition: fill var(--default-transision);
}

.modal-header {
  width: 100%;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal-form-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-form-input-container > *:nth-child(odd) {
  margin-bottom: 4px;
}

.modal-form-input-container > *:nth-child(even) {
  margin-bottom: 8px;
}

.modal-form-input-container > *:last-child {
  margin-bottom: 0;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: var(--light-slate);
}

.modal-form-input-container {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  color: var(--navy-blue);  
  outline: transparent;
  font-size: 18px;
  
}

.modal-form-icon  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: var(--navy-blue);
}

.person-icon {
  width: 12px;
  height: 12px;
}

.phone-icon {
  width: 13px;
  height: 13px;
}

.mail-icon {
  width: 15px;
  height: 12px;
}

.modal-form-input:focus {
  border-color: var(--iris);
  transition: border-color var(--default-transision);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris);
  transition: fill var(--default-transision);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  color: var(--navy-blue);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-weight: 400;
  outline: transparent;
  resize: none;
}

.modal-form-comment:focus {
  border-color: var(--iris);
  transition: border-color var(--default-transision);
}

.modal-form-checkbox-container {
  margin-bottom: 24px;
}

.modal-form-checkbox-input  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: var(--light-slate);
  cursor: pointer;
}

.modal-form-checkbox-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;
}

.modal-form-checkbox-icon {
  width: 10px;
  height: 8px;
  fill: none;
}

.modal-form-checkbox-label-link {
  text-transform: capitalize;
  text-decoration: underline;
  color: var(--iris);
}

.modal-form-checkbox-input:checked + .modal-form-checkbox-label .modal-form-checkbox-box {
  background-color: var(--iris);
  border-color: var(--iris);
  fill: var(--cloud);
  transition: background-color var(--default-transision), border-color var(--default-transision), fill var(--default-transision);
}

.modal-form-checkbox-label-link:visited {
  color: var(--slate);
  transition: color var(--default-transision);
}

.modal-form-submit-button {
  display: block;
  width: 169px;
  margin: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-form-submit-button:hover,
.modal-form-submit-button:focus {
  background-color: var(--ocean);
  transition: background-color var(--default-transision);
}

@media (width<768px) {
  .main-nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}



@media (768px<=width<=1158px) {
  .container {
    max-width: 768px;
  }
  .main-nav.address {
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-weight: 400;
  }
  .top-baner-section {
    background-image: var(--bg-top-banner-gradient),
      url(../images/hero_image_tablet.jpg);
  }
  .our-strengths-list {
    gap: 24px;
    width: 736px;
  }

  .our-strengths-item {
    width: 356px;
  }

  .team-card {
    flex-direction: row;
  }
  .team-card .list {
    width: calc((100% - 72px - 216px) / 2);
  }
  .portfolio-list {
    width: 736px;
    gap: 72px 24px;
  }
  .portfolio-list-item {
    width: 356px;
  }

  .footer-content {
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
    padding: 96px 164px 96px 108px;
  }
}

@media (width>1158px) {
  .section-common {
      padding: 120px 0;
    }
  .container {
    max-width: 1158px;
  }
  .header {
    padding: 24px;
  }
  .top-baner-section {
    background-image: var(--bg-top-banner-gradient),
      url(../images/hero_image_desktop.jpg);
  }
  .our-strengths-item-icon-box {
      display: flex;
  }
  .our-strengths-item {
    width: calc((100% - 72px) / 4);
  }
  .team-card {
    flex-direction: row;
  }
  .team-card .list {
    width: calc((100% - 72px - 312px) / 4);
  }
  .portfolio-list {
    width: 1128px;
    gap: 48px 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  .footer-content {
    flex-direction: row;
    gap: 0;
  }
  .footer-logo-text {
      margin-right: 120px;
  }
  .footer-social-media {
      margin-right: 80px;
  }
}  

@media (width>=768px) {
  .our-strengths-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    align-items: baseline;
  }
  .our-strengths-item {
    text-align: start;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-content {
    flex-direction: row;
  }
  .footer-logo-text {
      align-items: start;
  }
  .footer-header {
      text-align: start;
  }
  .footer-subscribe-form-input-button { 
    flex-direction: row;
    justify-content: space-between;
  }
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media (min-resolution: 192dpi) {
  @media (width<768px) {
    .top-baner-section {
      background-image: var(--bg-top-banner-gradient),
        url(../images/hero_image_mobile@2x.jpg);
    }
  }
  @media (768px<=width<=1158px) {
    .top-baner-section {
      background-image: var(--bg-top-banner-gradient),
        url(../images/hero_image_tablet@2x.jpg);
    }
  }
  @media (width>1158px) {
    .top-baner-section {
      background-image: var(--bg-top-banner-gradient),
        url(../images/hero_image_desktopx.jpg);
    }
  }
}